/* GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fff;
    font-family: font-family: 'Signika Negative', sans-serif;
}

#img-mobile {
    display: none;
}

.plants {
    background-color: #fee3e3;

    display: flex;
    align-items: center;
}

/* ----- LADO DIREITO ----- */
.plants-right {
    background-color: #408b28;
    border-bottom-right-radius: 60%;
    border-bottom-left-radius: 60%;

    height: 95vh;
    width: 46vw;
    margin: 0 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TEXTO */
.plants-right-text {
    color: #ffefef;
    text-align: center;

    padding-bottom: 2rem;
}

.plants-right-text h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    letter-spacing: .7rem;
}

.plants-right-text p {
    font-size: 2.3rem;
    padding-top: 1rem;
}

/* IMAGEM */
.plants-right-img {
    max-width: 38rem;
    padding-top: 4rem;
}

/* ----- LADO ESQUERDO ----- */
.plants-left {
    background: #fff;
    color: #16182c;

    height: 100vh;
    width: 50vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* FORMULÁRIO */
.plants-form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plants-left h2 {
    font-size: 3rem;
}

.plants-form {
    width: 40rem;

    display: flex;
    flex-direction: column;
}

.form-item {
    padding-top: 4rem;
}

/* E-MAIL E SENHA */
.form-item label:not(.checkbox label) {
    background-color: #fff;
    font-size: 1.4rem;
    font-weight: 600;

    padding: 0 1rem;

    display: inline-block;

    position: absolute;
    transform: translate(2rem, -1rem);
}

input[type='email'],
input[type='password'] {
    font-size: 1.5rem;
    outline: none;

    border: 1px solid #16182c;
    border-radius: 10rem;

    height: 3rem;
    width: 100%;
    padding: 1.5rem 2rem;

    transition: background .5s;
}

/* CHECKBOX E ESQUECEU A SENHA */
.form-item-checkbox {
    font-size: 1.4rem;
    font-weight: 500;

    padding: 1rem 1.5rem 3rem 1.5rem;

    display: flex;
    justify-content: space-between;
}

.form-item-checkbox a {
    color: #16182c;
    text-decoration: none;
}

.form-item-checkbox a:hover {
    color: #c01f45;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
}

input[type='checkbox'] {
    accent-color: #d7395e;

    width: 1.5rem;
    height: 1.5rem;
}

/* BOTÃO */
button {
    background-color: #408b28;
    color: #fff;

    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;

    height: 3rem;

    border: none;
    border-radius: 10rem;
}

button:hover {
    background-color: #5ab83b;
    transform: translateY(-3%);
}